<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Just Cree stuff</title>
    <script src="{{ url_for('static', filename='index.js') }}"></script>
</head>
<body>
    <aside>
        <button data-change-orth="Cans"> Change to Syllabics </button>
        <button data-change-orth="Latn"> Change to SRO (êîôâ) </button>
        <button data-change-orth="LatnXMacron"> Change to SRO (ēīōā) </button>
    </aside>

    <ul>
    {% for sentence in sentences %}
        <li><span lang="cr" data-orth
                  data-orth-Cans="{{ sentence["Cans"] }}"
                  data-orth-Latn="{{ sentence["Latn"] }}"
                  data-orth-Latn-x-macron="{{ sentence["Latn-x-macron"] }}"
            >{{ sentence["Latn"] }}</span>
        </li>
    {% endfor %}
    </ul>
</body>
</html>
{# setf=jinja #}
