<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Just Cree stuff</title>
</head>
<body>
    <ul>
    {% for sentence in sentences %}
        <li><span lang="cr" data-orth
                  data-orth-Cans="{{ sentence["Cans"] }}"
                  data-orth-Latn="{{ sentence["Latn"] }}"
                  data-orth-Latn-x-macron="{{ sentence["Latn-x-macron"] }}"
            >{{ sentence["Latn"] }}</span>
        </li>
    {% endfor %}
    </ul>
</body>
</html>
{# setf=jinja #}
